/* Base styles */
body {
    font-family: 'Press Start 2P', cursive;
    background: url('images/retrocity3.png') no-repeat center center fixed;
    background-size: cover;
    color: #fff;
    text-align: center;
    padding: 0;
    margin: 0;
    font-size: 16px;
}

/* Header styles */
header {
    background-color: rgba(58, 58, 85, 0.8);
    padding: 10px;
}

header h1 {
    font-size: 2em;
    margin: 0;
}

/* Navigation styles */
nav ul {
    list-style: none;
    padding: 0;
    margin: 20px 0 0 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    border: 2px solid #fff;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

nav ul li a:hover {
    background-color: #fff;
    color: #3a3a55;
}

/* Main content styles */
main {
    padding: 100px 20px; /* Adjusted padding for header */
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    margin: 50px auto;
    max-width: 800px;
}

/* Footer styles */
footer {
    background-color: rgba(58, 58, 85, 0.8);
    padding: 10px;
    position: relative;
    width: 100%;
    bottom: 0;
    box-shadow: 0 -4px 6px rgba(0, 0, 0, 0.1);
}

/* Pixel Art Styles */
body, header, nav ul li a, footer {
    font-family: 'Press Start 2P', cursive;
    image-rendering: pixelated;
}

h1, h2, p {
    text-shadow: 1px 1px 0 #000, 2px 2px 0 #000, 3px 3px 0 #000, 4px 4px 0 #000;
}

nav ul li a {
    border: 2px solid #000;
}

nav ul li a:hover {
    background-color: #000;
    color: #fff;
}

/* Responsive styles */
@media (min-width: 600px) {
    body {
        font-size: 20px;
    }

    nav ul li a {
        padding: 10px 20px;
    }
}

@media (max-width: 600px) {
    nav ul {
        flex-direction: column;
        margin-top: 10px;
    }

    nav ul li {
        margin: 10px 0;
    }

    main {
        padding: 80px 20px; /* Adjusted padding for smaller screens */
        margin: 20px;
    }
}


